@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap');

.header {
    font-family: 'Oswald', sans-serif;
    text-align: center;
    color: white;
    font-size: 56px;
    margin-top: 8px;
    margin-bottom: 40px;
    text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: flex-start;
}