.container {
    height: 100vh;
}

.flex-container {
    display: flex;
    overflow: hidden;
}

.sidebar {
    flex-grow: 1;
    height: 100vh;
    background-color: darkcyan;
}

.pages {
    flex-grow: 14;
    height: 100vh;
    background-color: grey;
}