@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap');

.globalDataHeader {
    font-family: 'Oswald', sans-serif;
    text-align: center;
    color: black;
}

.displayData {
    font-family: 'Oswald', sans-serif;
    position: absolute;
    font-size: 32px;
    color: black;
    margin: 0;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.globalDataContainer {
    background-color: #ADD8E6;
    margin-left: 16px;
    margin-right: 20px;
    margin-bottom: 64px;
    height: 150px;
    min-width: 150px;
    width: 30%;
    border: 1px solid black;
    position: relative;

    border-radius: 0% 0% 0% 0% / 0% 0% 0% 0% ;
    box-shadow: 20px 20px rgba(0,0,0,.15);
    transition: all .4s ease;
}

.globalDataContainer:hover {
    border-radius: 0% 0% 50% 50% / 0% 0% 5% 5% ;
    box-shadow: 10px 10px rgba(0,0,0,.25);
}